<div
  id="modal-overlay"
  class="modal-overlay"
  data-loading-message="{{ t.ui.modalLoading }}"
  data-error-message="{{ t.ui.modalError }}"
>
  <div class="modal-card">
    <button
      class="modal-close"
      id="modal-close"
      type="button"
      aria-label="{{ t.ui.modalCloseAria }}"
    >
      &times;
    </button>
    <div id="modal-content" class="modal-content"></div>
  </div>
</div>
