@use "colors" as *;

.footer {
  background: $color-footer-bg;
  color: $color-footer-text;
  padding: 50px 0 20px;
  border-radius: 12px 12px 0 0;

  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: left;
      align-items: center;
    }
  }

  /* COLUNAS */
  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  /* LOGO + MAPA */
  .footer-brand {
    display: flex;
    align-items: center;
    gap: 10px;

    .footer-logo {
      width: 40px;
    }

    .footer-title {
      font-size: 20px;
      font-weight: 600;
      color: $color-white;
    }
  }

  .footer-map {
    font-size: 14px;
    color: $color-footer-text-muted;
    line-height: 1.5;

    strong {
      color: $color-white;
    }
  }
  .footer-map-real {
  width: 150%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px $color-black-a25;
  margin-top: 16px;

  iframe {
    width: 100%;
    border: none;
    border-radius: 12px;
  }
  @media (max-width: 900px){
    width: auto;
  }
}

  /* MENU */
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: $color-footer-link;
      text-decoration: none;
      font-size: 15px;
      transition: 0.25s;

      &:hover {
        color: $color-footer-link-hover;
      }
    }

    /* ÍCONES SOCIAIS */
    .footer-social {
      margin-top: 10px;
      display: flex;
      gap: 12px;

      a {
        width: 40px;
        height: 40px;
        background: $color-footer-social-bg;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 10px $color-black-a30;

        img {
          width: 20px;
        }

        &:hover {
          background: $color-footer-social-bg-hover;
        }
      }
    }
  }

  /* BOTÕES CTA */
  .footer-actions {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .footer-btn-primary,
    .footer-btn-secondary {
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      transition: 0.25s;
    }

    .footer-btn-primary {
      background: $color-brand-primary;
      color: $color-white;

      &:hover {
        background: $color-brand-primary-hover-alt;
      }
    }

    .footer-btn-secondary {
      background: $color-white;
      color: $color-footer-bg;

      &:hover {
        background: $color-surface-footer-secondary-hover;
      }
    }
  }

  /* COPYRIGHT */
  .footer-copy {
    text-align: center;
    font-size: 14px;
    margin-top: 35px;
    color: $color-footer-copy;
  }
}

