---
permalink: /
---
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=./pt/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ locales[site.defaultLocale].meta.redirectTitle }}</title>
  </head>
  <body>
    <p>
      {{ locales[site.defaultLocale].meta.redirectText }}
      <a href="./pt/">./pt/</a>.
    </p>
  </body>
</html>
